@charset "UTF-8";

.rounded-row {
	background-color: #7EDEC1;
	border-radius: 12px;
	padding: 12px 20px;
	margin-bottom: 10px;
	box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.15);
}

.section-title {
	font-weight: bold;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	margin-top: 2.5rem;
}

.content-box {
	max-width: 900px;
	margin: 0 auto;
}

.date-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 10px;
}

.date-nav span {
	font-weight: bold;
	font-size: 1.1rem;
}

.trainer-select {
	max-width: 300px;
	margin: 0 auto 20px auto;
}

.date-display {
	font-weight: bold;
	cursor: pointer;
}

input[type="date"] {
	opacity: 0;
	position: absolute;
	pointer-events: none;
}