@charset "UTF-8";
li {list-style: none;}

footer {
	background-color: #2D3E50 !important;
}

.footer-container {
	height: 80px;
}

.logo {
	padding-left: 12px;
}

.footer-top {
 	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding-left: 50px;
  	padding-right: 50px;
  	padding-top: 24px;
  	padding-bottom: 24px;
}

.footer-menu {
  gap: 40px;
  list-style: none;
}

.footer-menu li a {
	font-size: 13px;
	padding: 8px;
  	transition: color 0.2s;
}

.footer-menu li a:hover {
  color: #2ecc71 !important;
}

#menu-border li:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  padding-right: 40px;
}

